@import './modules/colors.css';

html {
  --global-app-header-height: 120px;
  --global-base-font-size: 16px;
  --global-standard-vertical-offset: 48px;
  --global-standard-horizontal-offset: 32px;

  --global-app-bg-color: var(--dark-color-1);
  --global-text-color: var(--light-color-1);
  --global-success-color: var(--green-color-3);
  --global-danger-color: var(--red-color-1);
  --global-warning-color: var(--orange-color-1);
  --global-info-color: var(--blue-color-1);
  --global-primary-color: var(--green-color-2);
  --global-alternative-color: var(--green-color-1);
}

body {
  background: var(--global-app-bg-color);
  color: var(--global-text-color);
  font-size: var(--global-base-font-size);
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

/* Utility color classes*/
.text-color-primary {
  color: var(--global-primary-color);
}

.text-color-alternative {
  color: var(--global-alternative-color);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-danger {
  color: var(--global-danger-color);
}

.text-color-success {
  color: var(--global-success-color);
}

.text-color-info {
  color: var(--global-info-color);
}

.text-color-warning {
  color: var(--global-warning-color);
}

/* Flex utility classes */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.align-center {
  text-align: center;
}

/* General utility classes */
.full-width {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.noselect {
  user-select: none;
}

.cursor-help {
  cursor: help;
}

/* Typography utility classes */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: var(--white-color);
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  line-height: 1;
}

.heading-1 {
  font-size: 48px;
  font-weight: 800;
}

.heading-2 {
  font-size: 36px;
  font-weight: 800;
}

.heading-3 {
  font-size: 24px;
  font-weight: 700;
}

.heading-4 {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .heading-1 {
    font-size: 40px;
  }

  .heading-2 {
    font-size: 30px;
  }

  .heading-3 {
    font-size: 20px;
  }

  .heading-4 {
    font-size: 16px;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
